/codesets.7z
/release/32/app.log
/release/32/reg/frequse.txt
/release/32/mysql/script/group.sql
/release/32/reg/after/path路径/Android手机拷贝路径
/release/32/reg/before/path路径/Android手机拷贝路径
/release/32/reg/tips/path路径/Android手机拷贝路径.tip
