/codesets.7z
/release/32/app.log
/release/32/reg/frequse.txt
/release/32/mysql/script/group.sql
/release/32/reg/recentopen.txt
/release/64/app.log
/release/64/reg/frequse.txt
/release/64/reg/recentopen.txt
/release/64/64.7z
grunt
node_modules
/release/64/package-lock.json
/release/64/package.json
~$测试用例模板.xlsx
reg.zip
release/64/reg/after/工作/祝福*
release/64/reg/before/工作/祝福*
release/64/reg/tips/工作/祝福*


release/64/reg/tips/Python/scripts/test/__pycache__
